* {
  box-sizing: border-box;
  }
  
*:focus {
    outline: none;
}

/*register----------------------------*/
.register{
  margin: 20px auto;
  width: 300px;
}

.reg-title{
  text-align: center;
  color: white;
}
.reg-screen{
  background-color: #2c6e49 ;
  padding: 20px;
  border-radius: 5px
}

.register-form {
  text-align:center;
}

/*hola*/

/*login------------------------------*/
/*supongo la cajita*/
.login {
  margin: 20px auto;
  width: 300px;
}

/*label email y password*/
.form-label{
  text-align: center;
  color: white;
}

/*la caja del login*/
.login-screen {
  background-color: #2c6e49 ;
  padding: 20px;
  border-radius: 5px
}

/*label titulo*/
.log-title {
  text-align: center;
  color: white;
}

/*formulario login*/
.login-form {
  text-align:center;
}

/*esto si no se que hace xd*/

.control-group {
  margin-bottom: 10px;
}

/*Error*/

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}